<ion-view view-title="loginPage">

  <ion-content> 
	<div class="logo"><a href="#"><img src="img/logo.png" /></a></div>	
     
     <form id="login" >
       
        <div class="form-field"><input type="text" ng-model="data.email" placeholder="Your Account Email"></div>
        <div class="form-field"><input type="password" ng-model="data.password" placeholder="Your Account Password"></div>
        <div class="checkbox-wrapper">
           <p class="check">
            <input type="checkbox" id="test1">
            <label for="test1"></label>
          </p>
        	<input type="checkbox"><span> Remember Email</span>
           <p class="check">
            <input type="checkbox" id="test2">
            <label for="test2"></label>
          </p>
        	<input type="checkbox"><span> Remember Password</span>
        </div>
        
        <button class="login" ng-click="doLogin()">LOG IN</button>
         
        <div class="forgot-pass"><a href="#/passwordResetPage">Forgot Password?</a></div>
        <div class="create-account"><a href="#/signupPage">Create Account</a></div>

     </form>
             <div class="foot-links"><a href="#">Terms of Services / Privacy Policy</a>        <p>v:2.0.63</p></div>

  </ion-content>

</ion-view>
