<ion-view view-title="signupPage">

  <ion-header-bar align-title="left" class="bar">
  <div class="buttons cnrst">
    <a href="#/loginPage" class="button">Cancel</a>
  </div>

  <div class="buttons fr">
    <button class="button" ng-click="doReset()">Reset Password</button>
  </div>

</ion-header-bar>

  <ion-content>
     <form id="reset-pass">
         <h4> An email has been send to your account email with a password reset code. To reset your password, enter the reset code and a new password </h4>
         <div class="form-field"><input type="text" ng-model="data.code" placeholder="Enter Reset Code (check email)"></div>
         <div class="form-field"><input type="password" ng-model="data.password" placeholder="New Password"></div>
         <div class="form-field"><input type="password" ng-model="data.confirmpassword" placeholder="Password New Confirm"></div>
     </form>
  </ion-content>

</ion-view>
