<ion-view view-title="signupPage">

  <ion-header-bar align-title="center" class="bar">
  <div class="buttons cn">
    <a  href="#/loginPage" class="button">Cancel</a>
  </div>

  <div class="buttons fr">
    <button class="button" ng-click="doRegister()">Register</button>
  </div>
</ion-header-bar>

  <ion-content>
  
     <form>
      
        <div class="form-field"><input type="text" ng-model="data.firstname" placeholder="First Name"></div>
        <div class="form-field"><input type="text" ng-model="data.lastname" placeholder="Last Name"></div>
        
        <div class="select-field">
           <select ng-model="data.timezone">
              <option value="1">Choose Time Zone</option>
              <option value="2">value 2</option>
              <option value="3">value 3</option>
           </select>
        </div>

       <div class="form-field">
          <input type="text" ng-model="data.email" placeholder="Email">
       </div>
		   <div class="form-field">
         <input type="password" ng-model="data.password" placeholder="Password">
       </div>
	     <div class="form-field">
          <input type="password" ng-model="data.confirmpassword"  placeholder="Password Confirm">
       </div>
 
         <div class="checkbox-wrapper">
           
          <p class="check">
            <input type="checkbox" id="test3">
            <label for="test3"></label>
          </p>

           <span>Accept terms</span></div>

          <p>By creating an account, you agree to all</p>
   
         <div class="term-condition"> <a href="#">Terms of Service</a> & <a href="#">Privacy Policy</a></div>

     </form>
     
  </ion-content>

</ion-view>
