<ion-view view-title="">

    <ion-header-bar align-title="center" class="bar header-green">

      <div class="buttons navigation-wrapper" ng-model="singleTog" 
         ng-click="singleTog.clicked=!singleTog.clicked">
        <i class="ion-navicon-round button"></i>
        
        <ul class="navigation" ng-show="singleTog.clicked">
            <li><i class="ion-flash "></i><a href="#/tab/action">Actions</a> </li>
            <li><i class="ion-location "></i><a href="#/tab/place">Places</a> </li>
            <li><i class="ion-radio-waves "></i><a href="#/tab/device">Devices</a> </li>
            <li><i class="ion-ios-settings-strong "></i><a href="">Global Settings</a> </li>
            <li><i class="ion-person"></i><a href="">Account</a> </li>
            <li><i class="ion-android-mail"></i><a href="">Contact Us</a></li>
            <li><i class="ion-ios-help"></i><a href="">Help</a> </li>
            <li><i class="ion-log-in"></i><a href="#">Logout</a> </li>
        </ul>

      </div>

      <h1 class="title" >Nexx Preferences</h1>

  </ion-header-bar>

  <ion-content>
    <ion-list>
      <h2>Tab preferences</h2>
    </ion-list>
  </ion-content>
</ion-view>
