<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <ion-tab title="" icon-off="ion-ios-bolt" icon-on="ion-ios-bolt" href="#/tab/action">
    <ion-nav-view name="tab-action"></ion-nav-view>
  </ion-tab>

  <ion-tab title="" icon-off="ion-ios-location" icon-on="ion-ios-location" href="#/tab/place">
    <ion-nav-view name="tab-place"></ion-nav-view>
  </ion-tab>

  <ion-tab title="" icon-off="ion-radio-waves" icon-on="ion-radio-waves" href="#/tab/device">
    <ion-nav-view name="tab-device"></ion-nav-view>
  </ion-tab>

  <ion-tab title="" icon-off="ion-ios-list-outline" icon-on="ion-ios-list-outline" href="#/tab/preferences">
    <ion-nav-view name="tab-preferences"></ion-nav-view>
  </ion-tab>

</ion-tabs>
